<div class="uk-container uk-margin-small">
    {{> title-card}}
</div>

<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-left uk-text-left" uk-grid>
    <div class="uk-width-auto@m">
        <img width="300" src="images/Ballybunion-Golf-Club-Old-Course.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Golf Courses of Ireland</h1>
      <p>A comprehensive list of Irish Golf Course information </p>
      {{> error }}
    </div>
  </div>
</div>
